:host {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  background-color: #4cae4c;
}

.controls {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  z-index: 200;
  border: 1px solid #ccc;
}

.error {
  border-color: red;
}

input {
  display: block;
  height: 100%;
  flex-grow: 1;
  border: none;
  outline: none;
  font-size: 16px;
  box-sizing: border-box;
  padding: 5px;
  text-overflow: ellipsis;
}

button {
  display: block;
  height: 100%;
  width: 30px;
  border: none;
  outline: none;
  box-sizing: border-box;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  min-width: 100%;
  top: 100%;
  z-index: 100;
  background-color: white;
}

.dropdown-menu {
}

ul {
  list-style: none;
  padding: 6px;
  margin: 0;
  position: relative;
  min-width: 100%;
  width: 100%;
  border: 1px solid #ccc;
  border-top: none;
  box-sizing: border-box;
  max-height: 200px;
  overflow-y: auto;
}

li {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAMAAAAMCGV4AAAAG1BMVEX///+tra26urrGxsbHx8fa2trb29vx8fH///8sfbT3AAAAAXRSTlMAQObYZgAAADRJREFUCNfFj7kRACAMwxyTx/tPTJUjsADq1ElA0homkKvUlAd4VCrCNLHv/val3/2I8RfYnJ4FkE+QHTgAAAAASUVORK5CYII=);
  background-position: 6px 7px;
  background-repeat: no-repeat;
  padding: 0.35em 0 0.35em 2em;
  line-height: normal;
  cursor: pointer;
  margin-bottom: 0;
}

li.selected {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAMAAAAMCGV4AAAAWlBMVEX///81NTU5OTlCQkJKSkpNTU1jY2NkZGRsbGxtbW15eXmRkZGTk5OXl5eYmJiampq0tLTAwMDCwsLExMTKysrOzs7R0dHY2Njr6+v5+fn7+/v9/f3+/v7///833LtAAAAAAXRSTlMAQObYZgAAAGNJREFUeNpdz0kSgCAMBMBEwA3cFTf4/ze1BqhC55SeXBIiIzlFmpel9Sm21CTBVEjiNF99fXiGA5kH+F72wLgfC7WdHQivglUDBrtJMBiNAoz2bm7B4Dz8v+97f6WJdPafpgdGNw+4BSMYWwAAAABJRU5ErkJggg==);
}
