* {
    font-family: 'Arvo', serif;
}

section {
    padding: 10px;
    margin: 5px;
}

section:nth-of-type(3) {
    background-color: burlywood;
}

h1 {
    color: white;
    font-family: inherit;
}

[disabled] {
    font-size: 1.5em;
    color: red;
}

#form {
    margin: 2em 45vh;
}

/* direct sibling */
h1 + p {
    font-style: italic;
}

/* sibling but it does not have to be a direct one */
h1 ~ p {
    color: azure;
}

/* descendant */
main form {
    color: blue;
}
